
.bg-dark{
    background-color: rgba(56,56,56,1);
}

.text-white {
    color: white;
}
.text-semibold{
    font-weight: 600;
}

.text-16{
    font-size: 16px;
}

.upperCase {
    text-transform: uppercase;
}

.custom-image {
    border-radius: 20px;
    padding: 10px;
    width: calc( 100% - 20px);
}


.custom-buttons button, .custom-buttons div{
    color: white;
    border-color: white;
}

.shopping-cart{
    position: fixed;
    top: 0;
    right: 10px;
}

.disabled {
    pointer-events: none;
    opacity: .5;
    
}